<section
  class="my-4 py-2 w-100 lg:w-32 border-t border-b lg:border-0 lg:mr-4 lg:mt-1 lg:py-0"
>
  <div class="flex flex-row lg:flex-col">
    <span class="hidden lg:block">photo</span>
    <a class="pr-2 lg:pr-0">github</a>
    <a class="pr-2 lg:pr-0">linkedin</a>
    <a class="pr-2 lg:pr-0">twitter</a>
  </div>
</section>
